.c-selected {
  outline: 2px solid #dedede;
  border-radius: 5px;
  background-color: #fff;
}

.c-waiter {
  &:hover {
    outline: 2px solid #dedede;
    border-radius: 5px;
  }
}

.c-circle {
  background: #456bd9;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.c-circle::before {
  content: "";
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  position: absolute;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
}
