.c-payment {
  color: rgb(165, 165, 165);

  &:hover {
    color: rgb(74, 74, 74);
  }

  &.selected {
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    color: rgb(74, 74, 74);
  }
}
