<div class="card flex-grow-1 mx-3">
  <div class="card-header">
    <select
      class="form-select"
      aria-label="Default select example"
      [(ngModel)]="selectedTableId"
      (ngModelChange)="state.selectTable($event)"
    >
      <option [value]="null" disabled selected>Select a table...</option>
      @for (table of state.tables(); track table.id) {
        <option [value]="table.id">
          {{ table.describtion }}
        </option>
      }
    </select>

    <!-- <h5>{{state.selectedTable()?.describtion ?? "no table selected"}}</h5> -->
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      @for (item of selectedItems; track item.id) {
        <li class="list-group-item">
          {{ `${item.count} x ${item.describtion}` }}
        </li>
      }
    </ul>
  </div>
  <div
    class="card-footer bg-transparent d-flex justify-content-between"
    style="height: 100px"
  >
    <div class="mt-1">
      <span class="fs-5 fw-bold">Total</span>
      <p class="fs-4" style="color: #0fabc4">
        {{ state.selectedTable()?.price ?? "-" }}
      </p>
    </div>
    <div class="d-flex align-items-center">
      <div
        class="border rounded-circle me-3 cursor-pointer c-payment"
        [ngClass]="{ selected: state.paymentMethod() === 'Cash' }"
        (click)="state.selectPaymentMethod('Cash')"
      >
        <i class="bi bi-cash-coin d-flex align-items-center fs-3 m-3"></i>
      </div>
      <div
        class="border rounded-circle cursor-pointer c-payment"
        [ngClass]="{ selected: state.paymentMethod() === 'Credit card' }"
        (click)="state.selectPaymentMethod('Credit card')"
      >
        <i
          class="bi bi-credit-card-fill d-flex align-items-center fs-3 m-3"
        ></i>
      </div>
    </div>
  </div>
  <div class="card-footer bg-transparent d-flex justify-content-between p-0">
    <button
      type="button"
      class="btn fs-5 w-50"
      style="color: #0fabc4; height: 50px"
    >
      Pay
    </button>
    <div class="border-start"></div>
    <button
      type="button"
      class="btn fs-5 w-50"
      style="color: #8ab759"
      data-bs-toggle="modal"
      data-bs-target="#addItemModal"
    >
      Add item
    </button>
  </div>

  <app-add-item-modal />
</div>
