<div class="toast-container bottom-0 end-0 p-3" style="z-index: 1055">
  @for (toast of toastService.activeToasts(); track toast.id) {
    <div
      class="toast show border-0"
      style="max-width: 500px; width: auto"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex alert" [ngClass]="toast.level">
        <div class="toast-body">
          {{ toast.message }}
        </div>
        <button
          type="button"
          class="btn-close me-2 m-auto"
          (click)="toastService.removeToast(toast.describtion)"
          aria-label="Close"
        ></button>
      </div>
    </div>
  }
</div>
