<div
  class="modal fade"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
  #newTableModal
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">New table</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form
          #tableForm="ngForm"
          (ngSubmit)="submit(tableForm)"
          id="tableDescribtionFrom"
        >
          <div class="form-floating">
            <input
              name="tableDescripbtion"
              type="text"
              id="tableDescripbtion"
              placeholder="Table description"
              class="form-control mb-3"
              [(ngModel)]="tableDescripbtion"
              #descCtrl="ngModel"
              required
              minlength="6"
            />
            <label for="tableDescripbtion">Table description</label>

            <div class="position-relative" style="height: 40px">
              @if (descCtrl.invalid && descCtrl.touched) {
                <div
                  class="text-danger mt-1 position-absolute"
                  style="right: 0"
                >
                  @if (descCtrl.errors?.["required"]) {
                    <small> Description is required. </small>
                  }
                  @if (descCtrl.errors?.["minlength"]) {
                    <small> Must be at least 6 characters. </small>
                  }
                </div>
              }
              @if (errorMsg) {
                <div
                  class="text-danger mt-1 position-absolute"
                  style="right: 0"
                >
                  <small> {{ errorMsg }} </small>
                </div>
              }
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-primary mt-2 float-end"
            form="tableDescribtionFrom"
          >
            Create Table
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
